In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [2]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [3]:
# 1. access "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [4]:
# 2. access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [5]:
# 3. change "Mike" to "Your name"
dict1["april_batch"]["student"]["name"] = "Shriya"
dict1

{'april_batch': {'student': {'name': 'Shriya',
   'marks': {'python': 80, 'maths': 70}}}}

In [6]:
dict1["april_batch"]["student"]["marks"]["DL"] = 80
dict1

{'april_batch': {'student': {'name': 'Shriya',
   'marks': {'python': 80, 'maths': 70, 'DL': 80}}}}

In [7]:
dict1["april_batch"]["student"]["marks"]["ML"] = 80
dict1

{'april_batch': {'student': {'name': 'Shriya',
   'marks': {'python': 80, 'maths': 70, 'DL': 80, 'ML': 80}}}}