In [1]:
tuple1 = ('CSE', 'Mech', 'ECT', 'EE', 'Civil')
tuple1

('CSE', 'Mech', 'ECT', 'EE', 'Civil')

In [2]:
#len
len(tuple1)

5

In [3]:
#access elements
print(tuple1[4])

Civil

In [4]:
# slicing 
print(tuple1[1:4])
print(tuple1[::3])

('Mech', 'ECT', 'EE')
('CSE', 'EE')

In [5]:
# index() : return first index of the value
print(tuple1.index('Mech'))
print(tuple1.index('EE', 4, 4))      # additional parameters (element, start_index, end_index

1

ValueError: tuple.index(x): x not in tuple

In [6]:
# index() : return first index of the value
print(tuple1.index('Mech'))
print(tuple1.index('EE', 2, 4))      # additional parameters (element, start_index, end_index

1
3

In [7]:
#ADDING THE ELEMENTS TO THE TUPLE
tup2 = (1,2,3,4,5,6,'j','k','l')
tup2

(1, 2, 3, 4, 5, 6, 'j', 'k', 'l')

In [8]:
# Convert the tuple into list by using "list()"
list1 = list(tup2)
list1

[1, 2, 3, 4, 5, 6, 'j', 'k', 'l']

In [9]:
# Add values to the list using "append()" or "extend()" or "insert()" methods
list1.append(True)          # adds boolean value (True) at the end 
list1.insert(8, 10)        # adds 10 at index 8
list1

[1, 2, 3, 4, 5, 6, 'j', 'k', 10, 'l', True]

In [10]:
# Again convert list into tuple and print it !!
tup2 = tuple(list1)
tup2

(1, 2, 3, 4, 5, 6, 'j', 'k', 10, 'l', True)

In [11]:
#Removing elements from the tuple
tup2

(1, 2, 3, 4, 5, 6, 'j', 'k', 10, 'l', True)

In [12]:
# Convert the tuple into list by using "list()
list1 = list(tup2)
list1

[1, 2, 3, 4, 5, 6, 'j', 'k', 10, 'l', True]

In [13]:
# Remove elements from the list using "pop()" or "remove()" method
list1.pop(3)            # deletes 4
list1.remove('k')       # deletes 'c'
list1

[1, 2, 3, 5, 6, 'j', 10, 'l', True]

In [14]:
# Again convert list into tuple
tup2 = tuple(list1)
tup2

(1, 2, 3, 5, 6, 'j', 10, 'l', True)